# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
/django_env/

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
/__pycache__/
/migrations/
migrations/
__pycache__/
media/

# Pyre type checker
.idea/
/.idea

#React stuff:

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

static/any/ckeditor/